<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MOpolskie"
        tools:targetApi="35">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MOpolskie.Splash"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.MOpolskie"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".NoInternetActivity"
            android:exported="false"
            android:theme="@style/Theme.MOpolskie.NoInternet"
            android:screenOrientation="portrait"/>

        <!--    ======    -->
        <!--    MODUŁY    -->
        <!--    ======    -->

        <activity
            android:name=".HelpActivity"
            android:theme="@style/Theme.MOpolskie"/>

        <activity
            android:name=".SearchResultsActivity"
            android:theme="@style/Theme.MOpolskie"/>

        <activity
            android:name=".ServicesActivity"
            android:theme="@style/Theme.MOpolskie"/>

        <activity
            android:name=".MoreActivity"
            android:theme="@style/Theme.MOpolskie"/>

        <activity
            android:name=".HelpTechnicActivity"
            android:theme="@style/Theme.MOpolskie"/>

        <activity
            android:name=".AboutActivity"
            android:theme="@style/Theme.MOpolskie"/>

        <activity
            android:name=".DevActivity"
            android:theme="@style/Theme.MOpolskie"/>

        <activity
            android:name=".WordActivity"
            android:theme="@style/Theme.MOpolskie"/>

        <!--    ========    -->
        <!--    ATRAKCJE    -->
        <!--    ========    -->

        <activity
            android:name=".AttractionActivity"
            android:theme="@style/Theme.MOpolskie"/>

        <!--    ==========    -->
        <!--    SEGREGACJA    -->
        <!--    ==========    -->

        <activity
            android:name=".SegregacjaActivity"
            android:theme="@style/Theme.MOpolskie"/>

        <!--    =========    -->
        <!--    STAROSTWA    -->
        <!--    =========    -->

        <activity
            android:name=".StarostwoActivity"
            android:theme="@style/Theme.MOpolskie"/>

        <!--    ============    -->
        <!--    WYWÓZ ŚMIECI    -->
        <!--    ============    -->

        <activity
            android:name=".WywozSmieciActivity"
            android:theme="@style/Theme.MOpolskie"/>

        <activity
            android:name=".WywozSmieciCisekActivity"
            android:theme="@style/Theme.MOpolskie"/>

        <activity
            android:name=".WywozSmieciKKActivity"
            android:theme="@style/Theme.MOpolskie"/>

    </application>
</manifest>